<div class="container d-flex justify-content-center">
  <div class="card mt-5">
    <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
      <i class="fas fa-chevron-left"></i>
      <span class="pb-3">Live chat</span>
      <i class="fas fa-times"></i>
    </div>
    <div class="d-flex flex-row p-3">
      <img
        src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
        width="30"
        height="30"
      />
      <div class="chat ml-2 p-3">
        Hello and thankyou for visiting birdlymind. Please click the video above
      </div>
    </div>

    <div class="d-flex flex-row p-3">
      <div class="bg-white mr-2 p-3">
        <span class="text-muted"
          >Hello and thankyou for visiting birdlynind.</span
        >
      </div>
      <img
        src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-7.png"
        width="30"
        height="30"
      />
    </div>

    <div class="d-flex flex-row p-3">
      <img
        src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
        width="30"
        height="30"
      />
      <div class="myvideo ml-2">
        <img src="https://imgur.com/GOxU1jx.png" width="200" />
      </div>
    </div>

    <div class="d-flex flex-row p-3">
      <img
        src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
        width="30"
        height="30"
      />
      <div class="chat ml-2 p-3"><span class="text-muted dot">. . .</span></div>
    </div>

    <div class="form-group px-3">
      <textarea
        class="form-control"
        rows="5"
        placeholder="Type your message"
      ></textarea>
    </div>
  </div>
</div>

<div class="div">
  <button type="button" (click)="changeType(true)">Page</button>

  <button type="button" (click)="changeType(true)">Group</button>

  <button type="button">Report</button>
</div>

<!-- <h3>Single Report</h3>
  
  <div class="div">
  
  <powerbi-report
  
  style="height: 20cm; width: 20cm; zoom: 3.7" [embedConfig]="reportConfig"
  
  [CssClassName]="report-container"" [eventHandlers]="eventHandlersMap"
  
  X</powerbi-report>
  
  </div>
  
  <h3>Group Report</h3>
  
  <div class="div">
  
  <powerbi-report
  
  style="height: 20cm; width: 20cm; zoom: 3.7"
  
  [embedConfig]="reportConfigtwo" [cssClassName]="report-container""
  
  [eventHandlers]="eventHandlersMap"
  
  x/powerbi-report>
  
  </div> -->

<!-- @ViewChild(PowerBIReport Embed Component) reportObjl: PowerBIReportEmbedComponent;

eventHandlersMap = new Map([

'loaded',

() => { const report this.reportObj.getReport(); console.log(this.reportObj);

report.setComponentTitle('Embedded report');

['rendered', () => console.log('Report has rendered')],

'error',

(event?: service.ICustomEvent<any>) => {

if (event) {

console.error(event.detail);

}

1.

['visualClicked', () => console.log('visual clicked')],

[' pageChanged (event) -> ],

]) as Map<

string,

(event?: service.ICustomEvent<any>, embeddedEntity?: Embed) -> void | n

constructor() {}

ngOnInit() {

this.embedReport(); console.log(this.reportConfig);

embedReport() {

this.reportConfig = {

...this.reportConfig, accessToken:

eyJeeXAi0iJKV1QiLCJhbGci0iJsUzI1NiIsIngidCI6IjHbW55R1BraGMzaE91UjIy id: '53923440-8a63-4db6-ac36-ed1ff4e56f51',

embedUrl:

"https://app.powerbi.com/reportEmbed?reportId=53923440-8a63-4db6-ac36-

};

changeType(param: boolean) { this.page param; -->
